*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: #313654;
}

p {
  margin: 0;
}

.ryan {
  position: relative;
  margin: 50px auto;
  width: 400px;
  height: 380px;
}

.ryan .face {
  position: absolute;
  width: 400px;
  height: 367px;
  bottom: 0;
  border-radius: 100%;
  border: 10px solid #000;
  background-color: #d59729;
}

.ryan .ear {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100px;
  border: 10px solid #000;
  border-radius: 100%;
  background-color: #d59729;
}

.ryan .ear.left {
  left: 54px;
}

.ryan .ear.right {
  right: 54px;
}

.ryan .eyebrow {
  position: absolute;
  top: 106px;
  width: 78px;
  height: 14px;
  border-radius: 14px;
  background-color: #000;
  transition: all 0.2s;
}

.ryan .eyebrow.left {
  left: 68px;
}

.ryan .eyebrow.right {
  right: 68px;
}

.ryan .eye {
  position: absolute;
  top: 147px;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-color: #000;
  transition: all 0.2s;
}

.ryan .eye.left {
  left: 98px;
}

.ryan .eye.right {
  right: 98px;
}

.ryan .nose {
  position: absolute;
  top: 184px;
  left: 50%;
  margin-left: -16px;
  width: 32px;
  height: 33px;
  border-radius: 80% 80% 100% 100%;
  background-color: #000;
  z-index: 2;
}

.ryan .mouth {
  position: absolute;
  top: 191px;
  right: 73px;
  width: 73px;
  height: 68px;
  border: 10px solid #000;
  border-radius: 50%;
  background-color: #fff;
}

.ryan .mouth.left {
  left: 127px;
}

.ryan .mouth.right {
  right: 127px;
}

.ryan .mouth::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 33px;
  background: #fff;
  transform: rotate(-45deg);
  z-index: 1;
}
/* 조랭이떡 부분 다듬기 */
.ryan .mouth.left::before {
  top: 2px;
  left: 29px;
}

.ryan .mouth.right::before {
  top: 2px;
  right: 31px;
}

/*마우스호버 효과 주기 - 수줍*/

.hidden {
  opacity: 0;
}

.ryan .cheek {
  position: absolute;
  top: 180px;
  width: 77px;
  height: 30px;
  background-color: rgba(234, 67, 67, 0.6);
  border-radius: 40%;
  transition: opacity ease 1.4s 0s;
}

.ryan .cheek.left {
  left: 28px;
}

.ryan .cheek.right {
  right: 28px;
}

.ryan:hover .cheek {
  opacity: 1;
}

.notice {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  margin: 0 auto;
  padding-top: 1em;
  background-color: #252525;
  text-align: center;
  color: #fff;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}
